<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Cisco App</span>
        <span class="example-spacer"></span>
        <button (click)="logout()" mat-raised-button color="primary">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
