<app-header></app-header>

<div class="app-table-container">
    <table mat-table [dataSource]="awsData" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.dnsName}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.instanceId}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.instanceType}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.instanceState}} </td>
        </ng-container>

        <ng-container matColumnDef="availabilityZone">
            <th mat-header-cell *matHeaderCellDef> Availability Zone </th>
            <td mat-cell *matCellDef="let element"> {{element.availabilityZone}} </td>
        </ng-container>

        <ng-container matColumnDef="publicIp">
            <th mat-header-cell *matHeaderCellDef> Public Ip </th>
            <td mat-cell *matCellDef="let element"> {{element.publicIpAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="privateIp">
            <th mat-header-cell *matHeaderCellDef> Private IP </th>
            <td mat-cell *matCellDef="let element"> {{element.privateIpAddress}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
