<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Cisco App</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" (submit)="login()">
                <div>
                    <mat-form-field appearance="outline" class="cdx-input-default" fxLayoutGap="8px">
                        <mat-label>Username</mat-label>
                        <input matNativeControl matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="cdx-input-default" fxLayoutGap="8px">
                        <mat-label>Password </mat-label>
                        <input matNativeControl matInput placeholder="Password" [(ngModel)]="password" type="password"
                            name="password"
                            required>
                    </mat-form-field>
                </div>
                <button type="submit" (click)="login()" mat-stroked-button color="primary"
                    class="cdx-but-md">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
